a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

#success_notification {
    position: absolute;
    top: 0;
    left: 35%;
    width: 30%;
    /*text-align: center;
    font: 20px Georgia;
    color: #5C5C5C;
    background: #F2FFED;*/
    padding: 10px;
}

#rank {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:150px;
}     