
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddItem</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</head>
<body>
    <div ng-controller="ItemController">
        <p><b>Ürün Adı:</b></p>
        <input type="text" ng-model="Name" id="Name" /><br />
        <p><b>Fiyat(TL):</b></p>
        <input type="text" ng-model="Price" id="Price"/>
        <input type="button" ng-click="SaveItem()" value="Kaydet" />        
        <input type="hidden" value="@ViewBag.ProductID" id="hdnProductID" />
    </div>
</body>
</html>
