
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</head>
<body>    
    <div ng-controller="SubController">         
        <p><b>Ürün Adı:</b></p>
        <input type="text" ng-model="Name" id="Name" /><br />
        <p><b>Açıklama:</b></p>
        <textarea rows="3" cols="21" ng-model="Detail" id="Description"></textarea> 
        <input type="button" ng-click="SaveProduct()" value="Kaydet" />
    </div>
</body>
</html>
